<!DOCTYPE ejs>
<html>

<head>
    <title>RestaurantIO: Create Account</title>
    <link rel="icon" href="/content/images/wallet.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/content/layouts/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/content/layouts/main.css">

    <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading">RestaurantIO:
                    <%= pageData.restaurantName %>
                </a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/menu" class="pure-menu-link">Menu</a></li>
                    <li class="pure-menu-item"><a href="/tables" class="pure-menu-link">Tables</a></li>
                    <li class="pure-menu-item"><a href="/bills" class="pure-menu-link">Bills</a></li>
                    <li class="pure-menu-item"><a href="/reports" class="pure-menu-link">Reports</a></li>
                    <li class="pure-menu-item"><a href="/userAccount" class="pure-menu-link">User
                            Account</a></li>
                    <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log Out</a></li>
                </ul>
            </div>
        </div>
</head>

<body>
    <div id="layout">
        <div id="main">
            <div class="header">
                <h1>Create Account</h1>
                <br />
                <% if (message.length > 0) { %>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <%= message %>
                </div>
                <% } %>
            </div>

            <div class="content">
                <div class="centeredContent">
                    <form class="pure-form pure-form-aligned" action="/CreateAccount" method="post">
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="firstName">First Name</label>
                                <input id="firstName" name="firstName" type="text" placeholder="First Name" maxlength="21" required>
                            </div>

                            <div class="pure-control-group">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" name="lastName" type="text" placeholder="Last Name" maxlength="21" required>
                            </div>

                            <div class="pure-control-group">
                                <label for="email">Email Address</label>
                                <input id="email" name="email" type="email" placeholder="Email Address" required>
                            </div>

                            <div class="pure-control-group">
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" placeholder="Password" maxlength="21" required>
                            </div>

                            <div class="pure-control-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" maxlength="21" required>
                            </div>

                            <div class="pure-control-group">
                                <label for="securityQuestion">Security Question</label>
                                <input id="securityQuestion" name="securityQuestion" type="text" placeholder="Security Question" maxlength="21" required>
                            </div>

                            <div class="pure-control-group">
                                <label for="securityAnswer">Security Answer</label>
                                <input id="securityAnswer" name="securityAnswer" type="text" placeholder="Security Answer" maxlength="21" required>
                            </div>

                            <div class="pure-control-group">
                                <input id="restaurantId" name="restaurantId" type="hidden" value="<%= pageData.restaurantId %>" required>
                            </div>

                            <div class="form-group">
                                <input type="hidden" class="form-control" name="isAdmin" value="0" required>
                            </div>
                            <div class="pure-controls">
                                <button type="submit" class="pure-button pure-button-primary">Create Account</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>