<!DOCTYPE ejs>
<html>

<head>
    <title>RestaurantIO: Tables</title>
    <link rel="icon" href="/content/images/wallet.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/content/layouts/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="/content/layouts/main.css">

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading">RestaurantIO:
                <%= pageData.restaurantName %>
            </a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/menu" class="pure-menu-link">Menu</a></li>
                <li class="pure-menu-item  pure-menu-selected"><a href="/tables" class="pure-menu-link">Tables</a></li>
                <li class="pure-menu-item"><a href="/bills" class="pure-menu-link">Bills</a></li>
                <li class="pure-menu-item"><a href="/reports" class="pure-menu-link">Reports</a></li>
                <% if(user.userIsAdmin == 1){ %>
                <li class="pure-menu-item"><a href="/userAccount" class="pure-menu-link">User Account</a></li>
                <% }%>
                <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log Out</a></li>
            </ul>
        </div>
    </div>
</head>

<body>
    <div id="layout">
        <div id="main">
            <div class="header">
                <h1>Tables</h1>
                <br />
            </div>
            <ul id="billsNavbar" class="billsNavbar">
                <li><a id="NewBill" class="verticalBillsNonClickable">Active Bills:</a></li>
            </ul>
            <div id="tableSettingsDiv">
                <div id="tableContainer" class="tableSpacer tableSettingsContainer"></div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div id="SetOccupantsModal" class="modal">
        <p>
            <h1>Set patron amount:</h1>
            <form id="setOccupantForm" action="/UpdateTableOccupantCount" method="post">
                <input id="tableId" type="hidden">
                <div class="pure-control-group">
                    <label for="occupantCount">Patron amount: </label>
                    <input id="occupantCount" name="occupantCount" type="number" autofocus required>
                </div>
                <br />
                <div class="pure-controls modalButtons">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </form>
        </p>
    </div>
    <div id="attachBillModal" class="modal">
        <p>
            <h1>Attach a bill:</h1>
            <form id="attachBillForm" action="/UpdateTableOccupantCount" method="post">
                <input id="tableIdAttachBill" type="hidden">
                <div class="pure-control-group">
                    <label for="billSelection">Bill: </label>
                    <select id="billSelection" name="billSelection"></select>
                </div>
                <br />
                <div class="pure-controls modalButtons">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </form>
        </p>
    </div>
    <div id="tableNotReadyModal" class="modal">
        <p>
            <h1>Table is not ready.</h1>
        </p>
    </div>
    <input id="restaurantId" type="hidden" value="<%= user.RestaurantId %>">

    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <!--Context menu jquery plugin-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.contextMenu.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.contextMenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.ui.position.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.ui.position.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/content/js/tables/tables.js"></script>
    <script src="/content/js/tables/tablesContextMenu.js"></script>
    <script src="/content/js/tables/tablesFormSubmissions.js"></script>
</footer>

</html>